<main>
    <!--  <br/> -->

    <div class="w3-container medi-yellow">
        <h4>New Event</h4>
    </div>

    <div class="w3-container">

        <!--    <br>-->
        <!--    create event page-->
        <!--    <br>-->
    </div>

    <!--<form action="index.html" method="post">

        <h1>Sign Up</h1>

        <fieldset>
            <legend><span class="number">1</span> Your basic info</legend>
            <label for="name">Name:</label>
            <input type="text" id="name" name="user_name">

            <label for="mail">Email:</label>
            <input type="email" id="mail" name="user_email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="user_password">

            <label>Age:</label>
            <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Under 13</label><br/>
            <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">13 or older</label>
        </fieldset>

        <fieldset>
            <legend><span class="number">2</span> Your profile</legend>
            <label for="bio">Bio:</label>
            <textarea id="bio" name="user_bio"></textarea>
        </fieldset>

        <label for="job">Job Role</label>
        <select id="job" name="user_job">
            <optgroup label="Web">
                <option value="frontend_developer">Front-End Developer</option>
                <option value="php_developer">PHP Developer</option>
                <option value="python_developer">Python Developer</option>
                <option value="rails_developer">Rails Developer</option>
                <option value="web_designer">Web Designer</option>
                <option value="wordpress_developer">Wordpress Developer</option>
            </optgroup>
            <optgroup label="Mobile">
                <option value="android_developer">Android Developer</option>
                <option value="ios_developer">iOS Developer</option>
                <option value="mobile_designer">Mobile Designer</option>
            </optgroup>
            <optgroup label="Business">
                <option value="business_owner">Business Owner</option>
                <option value="freelancer">Freelancer</option>
            </optgroup>
        </select>

        <label>Interests</label>
        <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">Development</label><br>
        <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Design</label><br>
        <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">Business</label>

        <button type="submit">Sign Up</button>

    </form>-->

    <div class="form-container">
        <form class="w3-container" method="post" data-action="/events/create" onsubmit="create_new_event(this, event)">
            <p>
                <label>Organizer</label>
                <input class="w3-input" type="text" name="organizer" value="{{event.organizer}}"></p>
            <p>
                <label>Title</label>
                <input class="w3-input" type="text" name="title" value="{{event.title}}"></p>
            <p>
                <label>Description</label>
<!--                <input class="w3-input" type="text" name="desc" value="{{event.desc}}"></p>-->
                <textarea class="w3-textarea" type="textarea" name="desc" value="{{event.desc}}"></textarea></p>
            <p>
                <label>Category</label>
                <input class="w3-input" type="text" name="category" value="{{event.category}}"></p>
            <p>
                <label>Event Date</label>
                <input class="w3-input" type="date" name="eventDate" value="{{event.eventDate}}"></p>
            <p>
                <label>Capacity</label>
                <input class="w3-input" type="text" name="capacity" value="{{event.capacity}}"></p>
            <p>
                <label>Address</label>
                <input class="w3-input" type="text" name="address" value="{{event.address}}"></p>
            <p>
                <label>Pricing</label>
                <select class="w3-input" name="isPaid" onchange1="" id="isPaid">
                    <option value="true">Free</option>
                    <option value="false">Paid</option>
                </select>
            <p>
            <p>
                <label>Cost ($)</label>
                <input class="w3-input" type="text" name="cost" value=""></p>

            <br/>
            <p>
                <button type="submit" class="button1">Save</button>
            </p>

        </form>
    </div>

</main>